<md-content  flex class="md-padding">
  <md-list>
    <md-list ng-repeat="password in ctrl.passwords" class="md-whiteframe-z3" ng-click="expanded = !expanded">
      <md-list-item>
        <img ng-src="images/ic_lock_{{ctrl.getRandomLockColor($index)}}.png" class="md-avatar" alt="{{password.service}}"/>
        <p class="unselectable">{{ password.service }}</p>
        <md-icon md-svg-icon="material-design-icons/content/svg/production/ic_create_48px.svg" aria-label="Edit" ng-show="expanded" class="md-secondary md-hue-3" ng-click="ctrl.updatePassword($event, password); $event.stopPropagation();"></md-icon>
        <md-icon md-svg-icon="material-design-icons/action/svg/production/ic_delete_48px.svg" aria-label="Remove" class="md-secondary md-hue-3" ng-click="ctrl.deletePassword($event, password); $event.stopPropagation();"></md-icon>
      </md-list-item>
      <md-list-item ng-show="expanded && password.username">
        <p class="md-body-1"> User:
          <b layout="row" layout-align="center">{{password.username}}</b>
        </p>
      </md-list-item>
      <md-list-item ng-show="expanded">
        <p class="md-body-1"> Password:
          <b layout="row" layout-align="center">{{password.password}}</b>
        </p>
      </md-list-item>
    </md-list>
  <md-list>
</md-content>
<md-button class="md-fab md-primary" aria-label="Create" ng-click="ctrl.createNewPassword($event)">
  <md-icon md-svg-src="material-design-icons/content/svg/production/ic_add_48px.svg"></md-icon>
</md-button>
